# Creating and Manipulating NumPy Arrays

# Concept Session

## One-dimensional Arrays

In [5]:
import numpy as np

### Q-1) MegaCity Builders is a construction company. They seek the help of their data analyst to generate employee codes from 1 to 1,000 for their part time work force, as they are not interested in RDBMS solution.

In [7]:
employee_codes = np.arange(1, 1001)
employee_codes

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480,  481,  482,  483,  484,
        485,  486,  487,  488,  489,  490,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  501,  502,  503,  504,  505,  506,
        507,  508,  509,  510,  511,  512,  513,  514,  515,  516,  517,
        518,  519,  520,  521,  522,  523,  524,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  536,  537,  538,  539,
        540,  541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
        551,  552,  553,  554,  555,  556,  557,  558,  559,  560,  561,
        562,  563,  564,  565,  566,  567,  568,  569,  570,  571,  572,
        573,  574,  575,  576,  577,  578,  579,  580,  581,  582,  583,
        584,  585,  586,  587,  588,  589,  590,  591,  592,  593,  594,
        595,  596,  597,  598,  599,  600,  601,  602,  603,  604,  605,
        606,  607,  608,  609,  610,  611,  612,  613,  614,  615,  616,
        617,  618,  619,  620,  621,  622,  623,  624,  625,  626,  627,
        628,  629,  630,  631,  632,  633,  634,  635,  636,  637,  638,
        639,  640,  641,  642,  643,  644,  645,  646,  647,  648,  649,
        650,  651,  652,  653,  654,  655,  656,  657,  658,  659,  660,
        661,  662,  663,  664,  665,  666,  667,  668,  669,  670,  671,
        672,  673,  674,  675,  676,  677,  678,  679,  680,  681,  682,
        683,  684,  685,  686,  687,  688,  689,  690,  691,  692,  693,
        694,  695,  696,  697,  698,  699,  700,  701,  702,  703,  704,
        705,  706,  707,  708,  709,  710,  711,  712,  713,  714,  715,
        716,  717,  718,  719,  720,  721,  722,  723,  724,  725,  726,
        727,  728,  729,  730,  731,  732,  733,  734,  735,  736,  737,
        738,  739,  740,  741,  742,  743,  744,  745,  746,  747,  748,
        749,  750,  751,  752,  753,  754,  755,  756,  757,  758,  759,
        760,  761,  762,  763,  764,  765,  766,  767,  768,  769,  770,
        771,  772,  773,  774,  775,  776,  777,  778,  779,  780,  781,
        782,  783,  784,  785,  786,  787,  788,  789,  790,  791,  792,
        793,  794,  795,  796,  797,  798,  799,  800,  801,  802,  803,
        804,  805,  806,  807,  808,  809,  810,  811,  812,  813,  814,
        815,  816,  817,  818,  819,  820,  821,  822,  823,  824,  825,
        826,  827,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  883,  884,  885,  886,  887,  888,  889,  890,  891,
        892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000])

### Q-2)  MegaCity Builders has a total of 1,000 part-time employees. The annual salaries of these employees lie between $10,000 and $20,000. The company wishes to find the average annual salary of the employees.

In [9]:
salaries = np.random.uniform(10000, 20000, 1000) 
salaries

array([19825.93670013, 15784.99089254, 13993.5145571 , 17484.74110247,
       13324.17890151, 11568.84580194, 19301.853427  , 18386.34806831,
       14185.13464508, 19506.17812393, 18555.39278208, 19413.59183637,
       10317.77467143, 17137.30556761, 10915.04609386, 14084.49443241,
       15095.55994594, 15936.03387814, 16649.02258404, 17649.82053783,
       11982.30960508, 14977.64495375, 11785.48083277, 12606.31970431,
       11262.51125922, 12312.22503691, 19548.4860536 , 17380.77711813,
       16426.74432265, 14718.44482336, 19414.42395792, 12296.53467646,
       19051.05841021, 19393.51662576, 18196.61328396, 19282.43723823,
       12415.47439072, 15316.03348808, 12675.52386416, 14243.66671466,
       18298.82400412, 19126.1787907 , 17083.99001253, 15772.96503519,
       14987.81633177, 14903.88150949, 18233.58269286, 18529.73703184,
       11911.32290462, 17095.54630122, 16191.18260514, 11306.56929088,
       15928.23442869, 18981.88978281, 11842.90496992, 13747.6792273 ,
       13111.23438074, 13160.37639861, 18443.33010066, 15140.68491863,
       12293.95267624, 10753.80136483, 14739.79727411, 16455.6303282 ,
       16229.26670501, 13415.23122415, 16143.62070945, 15657.56894404,
       18998.31037659, 17328.52270176, 10691.87685718, 11914.00011051,
       13346.49589065, 17358.780739  , 13052.65276423, 10677.28449015,
       11001.78348145, 12962.18474322, 17974.2643436 , 17979.09185943,
       18411.15908176, 15051.09924288, 17826.13290612, 13382.08050055,
       14169.47004666, 12444.63562815, 14247.83953307, 13699.66803093,
       16465.47243079, 19110.08259892, 19435.15408515, 11751.28906709,
       13397.86057337, 15114.23690781, 18264.95949567, 14417.80811837,
       17088.04174652, 13917.00939876, 16503.18649059, 12951.1082048 ,
       13519.55772986, 10708.59539895, 13231.60710366, 19654.61993553,
       19216.16927624, 14298.10904293, 17778.03512813, 10755.23583401,
       11229.23802979, 13760.86083005, 17293.04555918, 14831.73892059,
       11393.06009152, 11987.94508142, 10051.07893639, 15037.20063702,
       18198.42904371, 18167.91125643, 16073.77028388, 19939.25043895,
       12342.8562378 , 16106.30542804, 15984.85422633, 18661.26470986,
       11734.3217761 , 12369.9719318 , 12328.06299595, 11955.92899948,
       18542.89015786, 13377.52717221, 16238.74894014, 15311.46235418,
       15360.18794257, 18319.78203353, 16184.3464275 , 18533.37904168,
       17530.33595805, 16773.88416993, 13107.9389097 , 16886.45254467,
       10980.75072715, 15933.20571991, 11874.77706812, 15621.7249312 ,
       19921.45804364, 18916.05450635, 13778.80927644, 18841.61174202,
       18908.07177641, 12212.77902631, 16561.98907973, 19252.78883799,
       10857.20926997, 17813.34607384, 16518.03958864, 15710.61901658,
       12729.32570534, 12208.50646158, 11899.71875238, 11467.68525438,
       16323.97512391, 14635.77103519, 16997.68450167, 18138.12755131,
       19949.68966971, 13655.20538591, 10026.48327942, 19981.45743712,
       11948.62311241, 10419.52497768, 18022.51945431, 13099.11835581,
       17223.9380993 , 16778.32433034, 14897.30260181, 19432.22679328,
       14766.1162143 , 18031.03376095, 14294.19829152, 19136.46587211,
       18180.24926338, 17876.97622959, 10105.38417852, 19876.10110367,
       19588.68406175, 10438.08715259, 13176.74848363, 11962.13010853,
       12499.53644793, 11591.13666507, 16205.13884639, 13726.7300376 ,
       16720.24096644, 18250.59474633, 10558.40115707, 17109.79029397,
       13168.07095512, 13989.08253887, 17237.94168821, 14489.77199104,
       11890.10183235, 17280.67918047, 19160.34177629, 18933.92085122,
       12638.76727538, 14623.54900417, 12858.35906032, 12825.59677108,
       10093.65501534, 18454.29688215, 15875.58606407, 19441.01076097,
       14840.28905768, 10713.05661334, 13827.2521968 , 14063.89359386,
       13617.60209036, 18428.61880586, 13592.54200668, 10130.42008193,
       14602.17841751, 16947.69392214, 12138.21243119, 18722.49736088,
       16378.93117463, 14477.04391208, 11407.00481133, 10697.17954624,
       15735.99954215, 14157.083615  , 14611.36599712, 17160.78037145,
       14567.12577852, 12870.54966555, 10434.37283922, 13572.07378245,
       12947.5867626 , 10119.27909182, 19264.11818311, 13044.19142374,
       14390.69722234, 11357.65051573, 18629.68672855, 16283.70152552,
       15771.58231415, 17039.94825912, 11573.4216486 , 11066.81725472,
       13818.86316341, 19817.3114998 , 12756.82459046, 18578.10612417,
       19317.07844738, 16134.67700077, 15365.28371702, 10984.23765905,
       19749.98206834, 18403.8079632 , 19401.69080244, 19383.66315857,
       16896.1759516 , 15728.6157543 , 16705.51632155, 15215.36668769,
       18625.40363464, 16365.89592396, 10651.10538329, 19738.4259656 ,
       10563.10419195, 18602.24658403, 16520.42477061, 10228.59850392,
       17817.57136326, 19919.82554265, 16433.90291791, 13394.32807488,
       13664.03300429, 19400.16723019, 11642.70845136, 17423.63850195,
       19554.54566677, 15523.31436617, 11921.14026228, 17736.34004652,
       16458.31593892, 17405.13101916, 15237.69739294, 13269.23400468,
       13078.56167513, 19775.19511958, 14644.69132349, 17660.8711204 ,
       15843.15577443, 12485.30865892, 14658.31891667, 19281.76834465,
       19367.18581287, 13383.20516682, 10105.70554328, 15103.309978  ,
       15901.25114895, 13356.65573708, 11563.65087705, 13340.89725453,
       13633.91722068, 14758.1920216 , 16002.91795045, 10040.34650969,
       17370.5485064 , 19087.00995037, 17728.81268383, 10615.56307662,
       14165.84876813, 14968.18927244, 14226.49674484, 18804.23360925,
       15755.44409603, 19778.93185272, 11403.46060372, 19555.89061975,
       11714.00066007, 10333.66002657, 10065.38366352, 13571.24937519,
       15945.67742953, 17644.40854025, 10507.95234971, 17334.598499  ,
       17685.13715515, 11782.52749474, 15091.26557196, 11358.18198756,
       18067.47974749, 17854.25438391, 15734.52737502, 18724.58861195,
       12407.40643854, 14312.96077806, 11995.43161125, 15081.75754599,
       14732.97518176, 16476.30710512, 13976.02486981, 17410.49013643,
       11976.92219569, 14604.51679159, 14083.60340208, 12740.47017862,
       17830.72625139, 12621.15765816, 18626.2619176 , 18931.38110793,
       19436.30138563, 11192.97524468, 13749.85295281, 14726.12832077,
       15735.86080658, 19724.62568222, 15169.66182358, 15807.54599971,
       11320.512377  , 17438.61583108, 14085.58793125, 12722.81299214,
       11034.81019877, 12671.11052573, 15090.80508897, 17635.39745517,
       12887.31588278, 10589.76057779, 19475.30194401, 10354.59907291,
       14457.35404794, 10564.62212075, 13487.18400979, 11336.11523139,
       11344.50475827, 12356.90702954, 15768.40491251, 16710.46722196,
       17451.75452046, 18715.77610927, 11717.21543969, 17004.5460693 ,
       16951.28122106, 15807.88371218, 14775.7796933 , 19381.79878875,
       12506.41195542, 10344.7324546 , 13197.74434772, 16366.87046648,
       13783.11941619, 15675.12479731, 18738.05982738, 18779.52835136,
       10203.77919988, 16704.62300883, 15341.31676236, 17653.21344703,
       16142.69584345, 11178.89037221, 11354.20844185, 15154.61154558,
       13315.68142648, 18949.24985243, 13431.69244391, 12314.2655937 ,
       14205.44408358, 19213.07089246, 18846.09950976, 15374.07808657,
       18444.82302407, 19371.20612814, 17519.28975163, 16708.19928275,
       14748.09625404, 10476.77276227, 19176.29477283, 10166.62467287,
       12586.52804441, 17226.53656882, 11428.41095015, 10370.84979392,
       10966.96312863, 11167.72816353, 12736.25835773, 10965.72069713,
       12880.45642191, 12618.02452898, 17789.79827705, 19186.52123308,
       11088.25370465, 12910.40281443, 11232.08204304, 13059.28120485,
       10597.70818227, 15490.93854662, 10863.51706416, 12711.74757779,
       12918.86662131, 16964.68704627, 12369.05601622, 18137.96755884,
       15947.49324315, 13825.13659585, 18188.01805009, 14134.13858713,
       10682.93850181, 16677.25355809, 12852.22637208, 13259.20416236,
       17914.85484011, 10605.74479354, 17503.51948168, 19805.1524953 ,
       16597.332174  , 11712.44974556, 15383.61569439, 16344.01890388,
       10488.85867374, 19465.7493616 , 18036.83495188, 19563.43838341,
       14411.35114876, 11942.52391915, 18645.73848812, 13185.49385688,
       11976.28479815, 14875.87487062, 10004.26681067, 12102.23984931,
       17681.14371994, 12084.31719624, 12070.15209119, 14277.12292723,
       10383.15421263, 10438.42987513, 10136.79377952, 16042.7966694 ,
       19354.44377656, 14540.92584756, 10566.13429302, 17467.96582066,
       13103.7579103 , 12127.53591026, 15013.61446775, 11800.74997339,
       13363.84437681, 15663.27269444, 17732.13409495, 11316.9872548 ,
       12261.01075667, 13427.22266501, 18326.25481349, 14498.03026818,
       19640.65873026, 18368.59837018, 15880.3880297 , 11167.30428393,
       15945.14302054, 12252.29124817, 14056.59813334, 11185.67770928,
       12171.07584761, 16471.98537797, 10225.6677915 , 14679.11763434,
       10029.9703102 , 12079.74133409, 16696.6550014 , 14874.00643906,
       11749.40403991, 14189.28294136, 17256.23610047, 12397.88464101,
       14453.25490219, 12920.33838776, 12477.32579088, 19184.42190397,
       18547.82218086, 11919.42839354, 19421.59297716, 16044.60952566,
       19384.90506633, 19570.1517978 , 19903.84946343, 11138.18747761,
       18196.126542  , 14528.03479785, 18137.75747067, 15086.04705529,
       12791.17366878, 11782.09389276, 11650.99001267, 12399.22262955,
       16706.22815181, 10522.42087322, 13248.07281337, 11780.22962639,
       16102.445584  , 14301.69214024, 14961.99949582, 10641.7298866 ,
       13664.43742533, 15685.1281115 , 15142.97333443, 19443.01548223,
       10483.67491002, 16903.19970718, 17645.41231032, 14714.45041619,
       16343.29119749, 15727.28049908, 12171.6444635 , 13669.13275447,
       14276.39851699, 13677.02433594, 19011.2050274 , 17786.71926178,
       14959.17122332, 12105.28769998, 18683.5629909 , 18246.16595237,
       17775.48975892, 13856.14958011, 12585.35954939, 15177.98685145,
       14849.45679664, 14366.85804028, 14954.34865403, 19874.54303474,
       10580.9839262 , 15422.13608863, 15124.09579819, 11329.47128047,
       16021.73140511, 19687.60282066, 18896.55799447, 14200.62130844,
       15214.23380947, 14527.55684355, 16779.14893969, 10258.4189796 ,
       11451.44209641, 18204.66789981, 17067.0137889 , 16320.98291308,
       17648.72384824, 15315.76154196, 13019.53140577, 10305.28324999,
       16976.74122212, 19888.48312257, 10970.38715467, 11921.7793194 ,
       18181.77550024, 18769.05190916, 15601.9866847 , 12283.12372339,
       12123.02770647, 16593.72603977, 15552.21858008, 18901.35430061,
       15617.05201579, 15101.31993887, 17380.95950278, 15385.95057374,
       12791.81640111, 19672.22083419, 15683.41537287, 19697.66139071,
       15526.95056249, 14247.35975785, 17665.27563671, 11850.24194305,
       12437.06562391, 13166.06026703, 11172.30640409, 10367.89307026,
       16804.26187064, 14427.7807378 , 10981.85699656, 17594.8054591 ,
       18261.42439888, 17241.46149764, 19337.84334402, 17882.97166772,
       16219.81694382, 19574.53000466, 12383.35760143, 14771.86089068,
       19390.14244382, 16735.09957098, 19642.42265883, 13226.9577236 ,
       10858.90100516, 13139.1529317 , 17024.00342495, 14637.11676761,
       14460.83166532, 12169.65312898, 10870.10904631, 15723.90333288,
       13652.88876494, 18744.04984477, 17145.63667054, 13141.43244678,
       14922.85889463, 11373.49179653, 18215.43074834, 11611.29117405,
       16549.42579857, 11050.26292626, 12093.24865762, 14786.81164286,
       13378.51520178, 12357.9203683 , 16418.39363693, 15262.58306271,
       11953.10092239, 13122.5207923 , 17507.91696855, 13758.33968667,
       14294.26095225, 12322.21226877, 12298.50838006, 16903.59815798,
       11912.13933867, 10405.57122709, 17693.93302432, 17909.68241842,
       18876.41977095, 16361.31597549, 11331.19187962, 17654.35664332,
       16647.52346464, 12445.97762705, 16737.60946488, 18050.37210255,
       10562.66577687, 18904.0920237 , 19215.80445694, 11930.70526992,
       18834.35861197, 16563.14110295, 14733.6810683 , 19511.17793588,
       17228.92597306, 15385.0660562 , 19466.39963274, 11547.04410302,
       18273.80012492, 13479.35290362, 13906.07448602, 14243.91095903,
       12916.13896328, 16903.26646436, 13477.76170128, 10664.07529833,
       16640.67127799, 16666.72908771, 17569.13499548, 14947.40266658,
       14065.27319354, 11233.09711525, 14290.74798606, 15327.4321411 ,
       12144.53103456, 11533.02314921, 13148.14873397, 10823.53439464,
       16059.12598564, 11824.77901148, 16296.46676814, 11079.69279063,
       19101.93747791, 16217.55448891, 19390.68246787, 16529.95625757,
       18276.42497287, 13191.24133655, 17303.4587197 , 11269.84148611,
       18249.55411029, 15294.65341562, 19090.00420204, 15745.47158667,
       13698.86390516, 11916.81026217, 10266.00271491, 10963.96938594,
       18717.6580403 , 15218.26274142, 13727.04914582, 15653.90411007,
       15866.41501695, 15371.97510565, 10911.62384634, 19535.03207762,
       13209.79661488, 10063.03625451, 16919.40736728, 17394.47489093,
       12659.137341  , 10805.64923054, 10344.65486299, 19046.64716244,
       18977.07239531, 13859.04750068, 12253.3434752 , 15114.61176395,
       10261.90571069, 12113.18510332, 15793.85031864, 15601.04916792,
       13839.42234693, 18230.12027657, 11626.44187865, 10454.98950554,
       10239.24666226, 14661.62862188, 15308.2854757 , 18610.59290407,
       15371.01301422, 16789.1458529 , 19380.77931948, 12887.20108696,
       19806.31500963, 14758.60612076, 17256.82700787, 11304.50627295,
       17043.78159848, 15824.2802648 , 19739.40729788, 17532.93596437,
       16488.95042071, 12696.79503536, 17430.3776405 , 11091.93909301,
       13114.10899573, 17918.71504695, 11992.37490119, 19351.61801522,
       12908.49261132, 16381.81049743, 12787.12292027, 13963.00934146,
       13679.59336503, 19751.83752072, 19638.91914868, 14016.45929579,
       14800.29548434, 16772.35019744, 15152.41958045, 18386.10453689,
       17904.17699714, 10556.8202887 , 16108.37414436, 12394.04199538,
       19631.89644114, 14968.13603013, 13152.493375  , 14332.49522335,
       18753.74861653, 12788.80501611, 15073.70641232, 15141.91451612,
       13748.49055844, 13343.46007204, 13738.9089014 , 15268.0497639 ,
       10228.78154838, 10782.11086513, 18242.02910208, 12771.20801943,
       17205.63174681, 14455.60011901, 18061.02438699, 16831.70464611,
       11771.41376077, 19967.31923766, 10630.64595516, 11795.24803808,
       15758.95649077, 12377.35958412, 15957.18633306, 19506.35201292,
       11787.06098949, 17432.80570129, 11371.68123411, 19412.73322826,
       13619.59712834, 13311.15601777, 10664.46243614, 18164.10420429,
       10385.8874712 , 10650.97109343, 17353.18931632, 16780.69527942,
       11843.45485629, 11641.85609523, 11936.01098488, 11514.23920335,
       14042.67018886, 17749.45176037, 11037.20094374, 11478.37873514,
       15861.23153571, 13151.47814452, 15507.75117426, 14830.54756654,
       10010.40272673, 12033.51656049, 18567.56387819, 15730.46892645,
       19884.20920165, 14121.7674214 , 15435.0428109 , 19735.7430063 ,
       14834.31884684, 10919.11028104, 19549.41065654, 11575.75150458,
       11904.39026651, 13923.91338992, 19664.27126665, 16779.25121499,
       12605.36899839, 13343.15124407, 14310.68474754, 12116.17156822,
       14167.22206777, 14129.94844009, 11294.53920594, 19197.59127663,
       10832.38166793, 18337.63213309, 15225.77480873, 14269.08942048,
       14662.74478438, 18300.99101785, 18164.14718832, 14143.18313391,
       15191.17396025, 19175.77617321, 14653.07882738, 12828.87281472,
       19319.73927278, 15371.54633704, 19954.33375049, 17282.05066929,
       15142.37575252, 15978.39258487, 18279.60611422, 11366.91780556,
       15541.06516508, 12836.58809799, 14014.56163115, 17237.35256425,
       14906.13011683, 17685.63007693, 16590.33113562, 10950.27842065,
       15497.50732227, 14682.15657666, 13718.71599268, 14735.43479473,
       19440.01420673, 14956.43372662, 11638.69296086, 17105.77080524,
       19145.47800381, 19659.3915732 , 13831.80310063, 13594.73090452,
       11143.53335664, 14537.42870735, 18700.17653089, 12496.26027489,
       11009.86576409, 14283.82087441, 13579.28108721, 15968.98528008,
       14436.56987187, 14163.46421972, 19978.60206169, 16506.84994702,
       19358.55961684, 12971.57679256, 12683.7230916 , 13279.64820855,
       12026.07728431, 10161.91540622, 16306.58394692, 14540.69359181,
       12032.68556642, 11451.35804192, 16795.67781159, 13799.94883856,
       19908.06483431, 12018.41026855, 13466.04522464, 13737.93841662,
       19357.87181764, 17234.27378809, 13724.23960334, 12992.15611811,
       13086.98040816, 10642.00901624, 11302.57461905, 14240.14194733,
       19565.04091288, 17105.91316107, 14207.85829453, 12033.51028254,
       16671.68380652, 11367.79304475, 12907.09185652, 14512.84769007,
       13932.47197339, 19187.03370119, 15444.57170002, 17297.19324875,
       10778.22937871, 19394.95665436, 13215.08743853, 19992.17646625,
       14813.85800327, 17590.57400018, 11031.90644268, 19196.12974562,
       18860.87332384, 15753.82292202, 12294.05327868, 19640.92378546,
       12129.32049458, 12757.9640367 , 16429.3367512 , 10129.74345628,
       10053.80999067, 19151.90138374, 10048.28998597, 10882.26861579,
       11335.20528406, 10433.6190963 , 19850.52567676, 15281.21507294,
       13491.92764217, 18484.14943354, 18817.42565201, 17799.70367793,
       14326.97193817, 16045.60481818, 18328.97744471, 14659.57054141,
       13739.78484099, 15848.80034392, 10760.72175872, 15565.17567006])

In [11]:
average_salary = np.mean(salaries)
average_salary

14964.836332535602

### Q-3) The HR wishes to know how many employees are getting salaries more than $15,000 per year.

In [15]:
high_salary = np.sum(salaries>15000)
high_salary

484

### Q-4) The employees with the codes 5, 124, 200, 332, 420, 589, 665, 743, 887, and 901 want to resign. As per the policy, the company does not save the data of part-time employees once they resign.  How can you delete the record/data of these employees? Consider the array "dup" to contain a copy of the employee codes.

In [19]:
dup = employee_codes
employee_codes = np.delete(employee_codes, [4,123,199,331,419,588,664,742,886,900], axis =0)
employee_codes

array([   1,    2,    3,    4,    6,    7,    8,    9,   10,   11,   12,
         13,   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,
         24,   25,   26,   27,   28,   29,   30,   31,   32,   33,   34,
         35,   36,   37,   38,   39,   40,   41,   42,   43,   44,   45,
         46,   47,   48,   49,   50,   51,   52,   53,   54,   55,   56,
         57,   58,   59,   60,   61,   62,   63,   64,   65,   66,   67,
         68,   69,   70,   71,   72,   73,   74,   75,   76,   77,   78,
         79,   80,   81,   82,   83,   84,   85,   86,   87,   88,   89,
         90,   91,   92,   93,   94,   95,   96,   97,   98,   99,  100,
        101,  102,  103,  104,  105,  106,  107,  108,  109,  110,  111,
        112,  113,  114,  115,  116,  117,  118,  119,  120,  121,  122,
        123,  125,  126,  127,  128,  129,  130,  131,  132,  133,  134,
        135,  136,  137,  138,  139,  140,  141,  142,  143,  144,  145,
        146,  147,  148,  149,  150,  151,  152,  153,  154,  155,  156,
        157,  158,  159,  160,  161,  162,  163,  164,  165,  166,  167,
        168,  169,  170,  171,  172,  173,  174,  175,  176,  177,  178,
        179,  180,  181,  182,  183,  184,  185,  186,  187,  188,  189,
        190,  191,  192,  193,  194,  195,  196,  197,  198,  199,  201,
        202,  203,  204,  205,  206,  207,  208,  209,  210,  211,  212,
        213,  214,  215,  216,  217,  218,  219,  220,  221,  222,  223,
        224,  225,  226,  227,  228,  229,  230,  231,  232,  233,  234,
        235,  236,  237,  238,  239,  240,  241,  242,  243,  244,  245,
        246,  247,  248,  249,  250,  251,  252,  253,  254,  255,  256,
        257,  258,  259,  260,  261,  262,  263,  264,  265,  266,  267,
        268,  269,  270,  271,  272,  273,  274,  275,  276,  277,  278,
        279,  280,  281,  282,  283,  284,  285,  286,  287,  288,  289,
        290,  291,  292,  293,  294,  295,  296,  297,  298,  299,  300,
        301,  302,  303,  304,  305,  306,  307,  308,  309,  310,  311,
        312,  313,  314,  315,  316,  317,  318,  319,  320,  321,  322,
        323,  324,  325,  326,  327,  328,  329,  330,  331,  333,  334,
        335,  336,  337,  338,  339,  340,  341,  342,  343,  344,  345,
        346,  347,  348,  349,  350,  351,  352,  353,  354,  355,  356,
        357,  358,  359,  360,  361,  362,  363,  364,  365,  366,  367,
        368,  369,  370,  371,  372,  373,  374,  375,  376,  377,  378,
        379,  380,  381,  382,  383,  384,  385,  386,  387,  388,  389,
        390,  391,  392,  393,  394,  395,  396,  397,  398,  399,  400,
        401,  402,  403,  404,  405,  406,  407,  408,  409,  410,  411,
        412,  413,  414,  415,  416,  417,  418,  419,  421,  422,  423,
        424,  425,  426,  427,  428,  429,  430,  431,  432,  433,  434,
        435,  436,  437,  438,  439,  440,  441,  442,  443,  444,  445,
        446,  447,  448,  449,  450,  451,  452,  453,  454,  455,  456,
        457,  458,  459,  460,  461,  462,  463,  464,  465,  466,  467,
        468,  469,  470,  471,  472,  473,  474,  475,  476,  477,  478,
        479,  480,  481,  482,  483,  484,  485,  486,  487,  488,  489,
        490,  491,  492,  493,  494,  495,  496,  497,  498,  499,  500,
        501,  502,  503,  504,  505,  506,  507,  508,  509,  510,  511,
        512,  513,  514,  515,  516,  517,  518,  519,  520,  521,  522,
        523,  524,  525,  526,  527,  528,  529,  530,  531,  532,  533,
        534,  535,  536,  537,  538,  539,  540,  541,  542,  543,  544,
        545,  546,  547,  548,  549,  550,  551,  552,  553,  554,  555,
        556,  557,  558,  559,  560,  561,  562,  563,  564,  565,  566,
        567,  568,  569,  570,  571,  572,  573,  574,  575,  576,  577,
        578,  579,  580,  581,  582,  583,  584,  585,  586,  587,  588,
        590,  591,  592,  593,  594,  595,  596,  597,  598,  599,  600,
        601,  602,  603,  604,  605,  606,  607,  608,  609,  610,  611,
        612,  613,  614,  615,  616,  617,  618,  619,  620,  621,  622,
        623,  624,  625,  626,  627,  628,  629,  630,  631,  632,  633,
        634,  635,  636,  637,  638,  639,  640,  641,  642,  643,  644,
        645,  646,  647,  648,  649,  650,  651,  652,  653,  654,  655,
        656,  657,  658,  659,  660,  661,  662,  663,  664,  666,  667,
        668,  669,  670,  671,  672,  673,  674,  675,  676,  677,  678,
        679,  680,  681,  682,  683,  684,  685,  686,  687,  688,  689,
        690,  691,  692,  693,  694,  695,  696,  697,  698,  699,  700,
        701,  702,  703,  704,  705,  706,  707,  708,  709,  710,  711,
        712,  713,  714,  715,  716,  717,  718,  719,  720,  721,  722,
        723,  724,  725,  726,  727,  728,  729,  730,  731,  732,  733,
        734,  735,  736,  737,  738,  739,  740,  741,  742,  744,  745,
        746,  747,  748,  749,  750,  751,  752,  753,  754,  755,  756,
        757,  758,  759,  760,  761,  762,  763,  764,  765,  766,  767,
        768,  769,  770,  771,  772,  773,  774,  775,  776,  777,  778,
        779,  780,  781,  782,  783,  784,  785,  786,  787,  788,  789,
        790,  791,  792,  793,  794,  795,  796,  797,  798,  799,  800,
        801,  802,  803,  804,  805,  806,  807,  808,  809,  810,  811,
        812,  813,  814,  815,  816,  817,  818,  819,  820,  821,  822,
        823,  824,  825,  826,  827,  828,  829,  830,  831,  832,  833,
        834,  835,  836,  837,  838,  839,  840,  841,  842,  843,  844,
        845,  846,  847,  848,  849,  850,  851,  852,  853,  854,  855,
        856,  857,  858,  859,  860,  861,  862,  863,  864,  865,  866,
        867,  868,  869,  870,  871,  872,  873,  874,  875,  876,  877,
        878,  879,  880,  881,  882,  883,  884,  885,  886,  888,  889,
        890,  891,  892,  893,  894,  895,  896,  897,  898,  899,  900,
        902,  903,  904,  905,  906,  907,  908,  909,  910,  911,  912,
        913,  914,  915,  916,  917,  918,  919,  920,  921,  922,  923,
        924,  925,  926,  927,  928,  929,  930,  931,  932,  933,  934,
        935,  936,  937,  938,  939,  940,  941,  942,  943,  944,  945,
        946,  947,  948,  949,  950,  951,  952,  953,  954,  955,  956,
        957,  958,  959,  960,  961,  962,  963,  964,  965,  966,  967,
        968,  969,  970,  971,  972,  973,  974,  975,  976,  977,  978,
        979,  980,  981,  982,  983,  984,  985,  986,  987,  988,  989,
        990,  991,  992,  993,  994,  995,  996,  997,  998,  999, 1000])

### Q-5) The HR wants to hire 10 new employees, assign them the employee codes from 1001 to 1010, and add the data in the existing employee codes. How can you accomplish this task? Consider the array "empid" which originally contains the employee IDs.

In [21]:
empid = employee_codes
new_employee_codes = np.arange(1001, 1011) 
new_employee_codes

array([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010])

In [25]:
empid = np.concatenate((empid, new_employee_codes))
empid

array([   1,    2,    3, ..., 1008, 1009, 1010])

### Q-6) The company wants to know and display the top 10 highest salaries of employees. The array 'sal' contains the salaries of all employees.

In [27]:
top_10_salaries = np.sort(salaries)[-10:][::-1]
top_10_salaries

array([19992.17646625, 19981.45743712, 19978.60206169, 19967.31923766,
       19954.33375049, 19949.68966971, 19939.25043895, 19921.45804364,
       19919.82554265, 19908.06483431])

## Reading data from csv files using NumPy

### Q-7) How can you read data from a csv file that contains the column "Employee ID" with 20 values?

### Ensure that the csv file is present in the current working directory.

In [29]:
np.genfromtxt(r"C:\Users\mdaaq\Downloads\EMPLOYEE.csv", delimiter= ',')

array([[nan, nan],
       [ 1., 22.],
       [ 2., 27.],
       [ 3., 31.],
       [ 4., 29.],
       [ 5., 27.],
       [ 6., 26.],
       [ 7., 27.],
       [ 8., 23.],
       [ 9., 27.],
       [10., 32.],
       [11., 28.],
       [12., 27.],
       [13., 22.],
       [14., 27.],
       [15., 35.],
       [16., 33.],
       [17., 28.],
       [18., 22.],
       [19., 25.],
       [20., 27.],
       [21., 37.],
       [22., 27.],
       [23., 24.],
       [24., 27.],
       [25., 28.],
       [26., 26.],
       [27., 27.],
       [28., 27.],
       [29., 29.],
       [30., 49.],
       [31., 26.],
       [32., 32.],
       [33., 26.],
       [34., 24.],
       [35., 24.],
       [36., 23.],
       [37., 28.],
       [38., 28.],
       [39., 22.],
       [40., 26.],
       [41., 32.],
       [42., 35.],
       [43., 33.],
       [44., 31.],
       [45., 30.],
       [46., 36.],
       [47., 22.],
       [48., 23.],
       [49., 32.],
       [50., 34.]])

## Two-dimensional Arrays (Tabular Representation of Data)

### Q-1) A company wishes to allocate the employee codes from 101 to 105 along with the ages 25, 26, 27, 28, and 29 (in years) to its employees. How can you represent this data using arrays?

In [31]:
employee_ids = np.arange(101, 106)
ages = np.arange(25, 30)

### Columnar view of the data: To see the employee IDs along with the ages in a tabular orientation

In [33]:
employee_data = np.column_stack((employee_ids, ages))
employee_data

array([[101,  25],
       [102,  26],
       [103,  27],
       [104,  28],
       [105,  29]])

### Creating 2D arrays with random numbers

### Q-2) Accessing the elements of 2D arrays

#### 2.1: Display the ages of all the employees from the emp_data.

In [50]:
ages

array([25, 26, 27, 28, 29])

#### 2.2: Display all the employee codes.

In [58]:
employee_codes

array([101, 102, 103, 104, 105])

#### 2.3: Display the age of 4th employee.

In [64]:
age_of_4th_employee = employee_data[3, 1]
age_of_4th_employee

28

#### 2.4: Display the ages from 3rd employee onwards.

In [68]:
ages_from_3rd_employee = employee_data[2:, 1]
ages_from_3rd_employee

array([27, 28, 29])

#### 2.5: Display the employee codes from 2nd employee onwards.

In [70]:
employee_codes_from_2nd = employee_data[1:, 0]
employee_codes_from_2nd

array([102, 103, 104, 105])

#### 2.6: How can you display the records for 2nd, 3rd, and 4th employee?

In [72]:
records_2nd_3rd_4th = employee_data[1:4, :] 
records_2nd_3rd_4th

array([[102,  26],
       [103,  27],
       [104,  28]])

#### 2.7: Find the age of the employee with the employee code 102.

In [76]:
employee_code = 102
row_index = np.where(employee_data[:, 0] == employee_code)[0][0]  
age_of_employee_102 = employee_data[row_index, 1] 
age_of_employee_102

26

### Q-3)  Updating 2D arrays:

#### 3.1: The employee with the employee code 103 wants to update the age to 31. How can you accomplish this task?

In [80]:
employee_code = 103
row_index = np.where(employee_data[:, 0] == employee_code)[0][0] 
row_index

2

In [82]:
employee_data[row_index, 1] = 31
employee_data

array([[101,  25],
       [102,  26],
       [103,  31],
       [104,  28],
       [105,  29]])

#### 3.2: The company wants to add the annual salaries of all the employees in the existing record. Add the annual salaries 35,000, 45,000, 40,000, 30,000, and 50,000 for the employees with the employee codes from 101 to 105, respectively.

In [86]:
salaries = [35000, 45000, 40000, 30000, 50000] 
employee_data_with_salaries = np.column_stack((employee_data, np.array(salaries)))
employee_data_with_salaries

array([[  101,    25, 35000],
       [  102,    26, 45000],
       [  103,    31, 40000],
       [  104,    28, 30000],
       [  105,    29, 50000]])

#### 3.3: The HR wants to update the salary of the employee with the employee code 102 to 43,500. Help the HR to accomplish this task.

In [88]:
employee_code = 102
new_salary = 43500
row_index = np.where(employee_data_with_salaries[:, 0] == employee_code)[0][0]
employee_data_with_salaries[row_index, 2] = new_salary
employee_data_with_salaries

array([[  101,    25, 35000],
       [  102,    26, 43500],
       [  103,    31, 40000],
       [  104,    28, 30000],
       [  105,    29, 50000]])

### Q-4) 2-D Arrays Manipulation:

The CEO of the organization has suggested to present all possible reports related to employees’ data to the HR team to understand the spread of salaries of the employees to take the decision for future recruitment and manage human resources expenses. How can you accomplish this task?

#### 4.1: Help Thomas, the financial analyst, wants to find the total annual salary of all employees.

In [92]:
total_annual_salary = np.sum(employee_data_with_salaries[:, 2]) 
total_annual_salary

198500

#### 4.2: Help Thomas to calculate the average age of employees.

In [94]:
average_age = np.mean(employee_data_with_salaries[:, 1])
average_age

27.8

#### 4.3: The company has hired a new employee who is 27 years old, with an annual salary of 37,000 and the employee code 106. Add the employee details in the existing record of employees.

In [102]:
new_employee = np.array([[106, 27, 37000]])
employee_data_with_salaries = np.vstack((employee_data_with_salaries, new_employee))
employee_data_with_salaries

array([[  101,    25, 35000],
       [  102,    26, 43500],
       [  104,    28, 30000],
       [  105,    29, 50000],
       [  106,    27, 37000]])

#### 4.4: The employee with the code 103 wishes to resign from the current job position. The company needs to remove the employee's data and update the record. How can you accomplish this task?

In [108]:
employee_code_to_remove = 103
row_index = np.where(employee_data_with_salaries[:, 0] == employee_code_to_remove)
employee_data_with_salaries = np.delete(employee_data_with_salaries, row_index, axis=0)
employee_data_with_salaries

array([[  101,    25, 35000],
       [  102,    26, 43500],
       [  104,    28, 30000],
       [  105,    29, 50000],
       [  106,    27, 37000]])

#### 4.5: The company has decided to give a bonus amount to all the employees who are getting the annual salary more than $35,000. For this, the company needs to know the number of such employees along with their salaries.

In [112]:
bonus_eligible_employees = emp_data_with_salaries[emp_data_with_salaries[:, 2] > 35000]
num_employees_with_bonus = len(bonus_eligible_employees)
num_employees_with_bonus

4

In [114]:
bonus_eligible_employees

array([[  102,    26, 43500],
       [  103,    31, 40000],
       [  105,    29, 50000],
       [  106,    27, 37000]])

In [1]:
a = print('hello')
a

hello